<div class="cta-button d-lg-block d-none">
    <a class="CTA d-flex justify-content-center align-items-center rounded-circle" data-bs-toggle="modal" data-bs-target="#shareFoodModal">
        <p class="CTA-content-title text-center fs-4 fw-bold lh-xs text-deco-bright-green">
            <!-- 分享美味 立即報名 -->
            <%- currentCtaTitle %>
        </p>
        <svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" class="CTA-rotating-text">
          <path
            id="circlePath"
            d="
            M 80, 80
            m -64, 0
            a 64,64 0 1,1 128,0
            a 64,64 0 1,1 -128,0
            "
          />
          <text>
            <textPath href="#circlePath" text-anchor="middle" startOffset="50%">
                Flavor Trail • Share the Goodness • Flavor Trail • Share the Goodness •
            </textPath>
          </text>
        </svg>
        <svg 
            width="40" height="40" viewBox="0 0 40 40" 
            fill="none" xmlns="http://www.w3.org/2000/svg"
            class="CTA-content-arrow"    
        >
            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#96FF00"/>
        </svg>
    </a>
</div>