<div class="marquee">
    <div class="marquee-content">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20when.svg?alt=media&token=75820c7d-a9ee-4fcc-80f1-3dfc362d207c" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20when.svg?alt=media&token=75820c7d-a9ee-4fcc-80f1-3dfc362d207c" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20when.svg?alt=media&token=75820c7d-a9ee-4fcc-80f1-3dfc362d207c" type="">
    </div>
</div>
<div class="marquee">
    <div class="marquee-content-reverse">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20time.svg?alt=media&token=bb8c1295-fe1e-4593-b48d-848fb26522ef" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20time.svg?alt=media&token=bb8c1295-fe1e-4593-b48d-848fb26522ef" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20time.svg?alt=media&token=bb8c1295-fe1e-4593-b48d-848fb26522ef" type="">
    </div>
</div>
<div class="marquee">
    <div class="marquee-content">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20where.svg?alt=media&token=f866f537-2693-4af0-9a9e-076e7f4d53a6" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20where.svg?alt=media&token=f866f537-2693-4af0-9a9e-076e7f4d53a6" type="">
        <embed src="https://firebasestorage.googleapis.com/v0/b/mobaocoffee.appspot.com/o/Frame%20where.svg?alt=media&token=f866f537-2693-4af0-9a9e-076e7f4d53a6" type="">
    </div>
</div>
