<footer class="footer">
    <div class="container">
        <div class="footer-header d-flex flex-lg-row flex-column-reverse mb-lg-19 mb-16">
            <a href="index.html" class="footer-logo">
                <img src="/assets/images/Logo.png" alt="logo">
            </a>
            <div class="slogan ms-auto mt-lg-12 fs-2 fw-bolder lh-1">
                <p>快樂齊分享，美味</p>
                <p class="vertical-text text-lg-vertical ms-auto">再出發</p>
            </div>
        </div>
        
        <nav class="footer-nav row pb-lg-12 pb-7">
            <div class="col-9">
                <div class="row">
                    <div class="footer-nav__category col-lg-3 mb-lg-0 mb-7">
                        <a class="mb-4 text-gray-700 fs-6">認識餘味尋蹤</a>
                        <ul class="d-flex flex-column gap-4 fs-4 fw-medium lh-xs">
                            <li><a href="#" class="footer-nav__link">關於我們</a></li>
                            <li><a href="#" class="footer-nav__link">人才招募</a></li>
                            <li><a href="#" class="footer-nav__link">活動提案</a></li>
                            <li><a href="#" class="footer-nav__link">連絡我們</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav__category col-lg-3 mb-lg-0 mb-7">
                        <a class="mb-4 text-gray-700 fs-6">常見問題 FAQ</a>
                        <ul class="d-flex flex-column gap-4 fs-4 fw-medium lh-xs">
                            <li><a href="#" class="footer-nav__link">如何分享美食</a></li>
                            <li><a href="#" class="footer-nav__link">如何領取美食</a></li>
                            <li><a href="#" class="footer-nav__link">取消預約美食</a></li>
                            <li><a href="#" class="footer-nav__link">忘記密碼</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav__category col-lg-3 mb-lg-0 mb-7">
                        <a class="mb-4 text-gray-700 fs-6">會員中心</a>
                        <ul class="d-flex flex-column gap-4 fs-4 fw-medium lh-xs">
                            <li><a href="login.html" class="footer-nav__link">註冊/登入</a></li>
                            <li><a href="#" class="footer-nav__link">我的帳戶</a></li>
                            <li><a href="#" class="footer-nav__link" data-bs-toggle="modal" data-bs-target="#shareFoodModal">我要分享</a></li>
                            <li><a href="#" class="footer-nav__link">我的收藏</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 d-lg-flex justify-content-end align-items-end">
                <div class="footer-social d-flex flex-lg-row flex-column align-items-end gap-2">
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/twitter.svg" alt="twitter">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/instagram.svg" alt="instagram">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/facebook.svg" alt="facebook">
                    </a>
                    <a href="#" class="p-2">
                        <img src="/assets/images/icon/hugeicons_line.svg" alt="line">
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="footer-bottom border-top-lg-0 border-top border-black">
        <div class="container">
            <div class="d-flex flex-lg-row flex-column justify-content-between py-7 border-top-lg border-lg-black">
                <p class="mb-5">@ 2024 Flavor Trail</p>
                <ul class="d-flex gap-7">
                    <li><a href="#">網站使用需知</a></li>
                    <li><a href="#">隱私權聲明</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<%- include('./layout/index-ShareFood'); -%>
