<section class="container px-0 notifyList">
    <ul class="row">
        <li class="col-12">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 bg-white border-bottom border-gray-400 mx-4 round-top" data-bs-toggle="modal" data-bs-target="#notifyApplyModal">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Oreo</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 unchecked border-bottom border-gray-400 mx-4" data-bs-toggle="modal" data-bs-target="#notifyClaimModal">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">領取通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Tom</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!感謝你對我的食物分享活動感興趣。你所預訂的食物現在可以領取了!請在以下時間內前來領取......</p>
                </div>
            </a>  
        </li>
        <li class="col-12">
            <a href="postPage.html" class="notify-cover row align-items-center position-relative stretched-link p-7 bg-white border-bottom border-gray-400 mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">評價通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">餘味尋蹤</h4>
                    <p class="fs-6 text-gray-700 mb-0">法國地頭蛇 ,感謝你參與我們的食物分享活動。領取者已經對你分享的食物進行了評論!請前往貼文查看他們的反饋,了解他們對食物的評價和建議...</p>
                </div>
            </a>  
        </li>
        <li class="col-12">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 bg-white border-bottom border-gray-400 mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">評價通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">餘味尋蹤</h4>
                    <p class="fs-6 text-gray-700 mb-0">法國地頭蛇 ,我們非常重視你的意見,請花一點時間對你領取的食物進行評價。你的反饋將幫助我們改進並提供更好的服務。</p>
                </div>
            </a>  
        </l>
        <li class="col-12">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 unchecked border-bottom-lg border-lg-gray-400 mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Ruby</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 d-none d-lg-block">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 unchecked border-bottom border-gray-400 mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Kolin</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 d-none d-lg-block">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 unchecked border-bottom border-gray-400 mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Philips</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 d-none d-lg-block">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 bg-white mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Apple</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 d-none d-lg-block">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 unchecked mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Simon</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 d-none d-lg-block">
            <a href="#" class="notify-cover row align-items-center position-relative stretched-link p-7 bg-white mx-4">
                <div class="notify-back w-100 h-100 position-absolute">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#fff"/>
                        </svg>
                        <div class="fs-4 fw-medium text-white mt-7 mt-lg-0 ms-lg-7">查看更多</div>
                </div>
                <div class="col-6 col-lg-1 order-lg-1 mb-5 mb-lg-0 px-0">
                    <p class="bg-primary fs-6 text-white px-2 py-1 d-inline rounded-3 align-middle text-nowrap">申請通知</p>
                </div>
                <div class="col-6 col-lg-2 order-lg-3 text-end mb-6 mb-lg-0 px-0">
                    <time datetime="2024-08-01" class="text-gray-700">2024/08/01</time>
                </div>
                <div class="col-12 col-lg-9 order-lg-2 ps-lg-6 px-0">
                    <h4 class="fw-bold text-gray-900 mb-2">Louis</h4>
                    <p class="fs-6 text-gray-700 mb-0">嗨!我看到你分享的食物,感覺非常美味!我想要領取一些,請問我可以在指定的時間內過去拿嗎?非常感謝你的分享!😊</p>
                </div>
            </a>  
        </li>
        <li class="col-12 mb-19">
            <div class="text-center bg-white mx-4 py-11 round-bottom">
                <div class="spinner-border text-gray-700 border-2" role="status" style="width: 1.75rem; height: 1.75rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </li>
    </ul>
    <%- include('./layout/notify-modal'); -%>
</section>