.foodtalk-cover {
    .foodtalk-back {
        opacity: 0;
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
    }

    &:hover {
        .foodtalk-back {
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease;
        }
    }
}

.foodtalk-img {
    height: 416px;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .zongzi {
        object-position: left top;
    }
}

.display-lg-1 {
    @media (min-width:768px) {
        font-size: 80px;
    }

    span {
        margin-left: 310px;
    }
}

.foodtalk-title {
    letter-spacing: -2.56px;

    @media (min-width:768px) {
        letter-spacing: -3.2px;
    }
}

.talk-talk {
    top: 70px;
    left: 71px;
    width: 171px;

    @media (min-width:414px) {
        top: 70px;
        left: 90px;
        width: 171px;
    }

    @media (min-width:437px) {
        top: 70px;
        left: 160px;
        width: 130px;
    }

    @media (min-width:500px) {
        top: -5px;
        left: 320px;
        width: 130px;
    }

    @media (min-width:765px) {
        top: -5px;
        left: 320px;
        width: 130px;
    }

    @media (min-width:790px) {
        top: 0px;
        left: 415px;
        width: 175px;
    }

    @include media-breakpoint-up(lg) {
        top: -80px;
        left: 415px;
        width: 288px;
        height: 218px;
    }

}