.nav-item {
    .nav-link {
      color: #6c757d;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 0.5rem;
      font-weight: bold;
      font-size: 1.25rem;
      border-radius: 0 !important;
      border-bottom: 1px solid #dee2e6;
      background-color: transparent;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      &.active {
        color: #212529;
        border-bottom: 2px solid #00503f;
        background-color: transparent !important;
      }

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }