<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>有問題找 dodo</title>
</head>
<body>
<!-- 
    1. 記得改連結路徑
-->
<div class="container">
    <div class="row d-flex">
        <!-- 這裡複製開始 -->
        <div class="col-4">
            <a href="#" class="foodtalk-cover bg-primary position-relative">
                <div class="foodtalk-back w-100 h-100 position-absolute top-0 left-0">
                    <img src="../assets/images/deco/talk-pink.svg" alt="talk-pink">
                </div>
                <div>
                    <img src="../assets/images/home-3.jpg" alt="home-3" class="img border border-primary border-4">
                    <div class="p-7">
                        <p class="text-deco-coral fw-medium fs-5 mb-7">超級喜歡這個平台!在這裡我不僅能找到新鮮的食物,還能遇到很多友好的分享者。每次與其他 Buddy 的互動都充滿了正能量,這讓我覺得自己真的成為了這個社群的一部分。</p>
                        <h3 class="text-deco-coral fw-bold lh-xs">— 街口阿勇 —</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- 這裡複製結束 -->
    </div>
</div>
<script type="module" src="../main.js"></script>
</body>
</html>

