<!DOCTYPE html>
<html lang="zh-hant">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>foodCard</title>
</head>

<body>
<div class="container bg-deco-blue py-10">
        <a href="#" class="foodCard mx-auto bg-deco-blue text-deco-pink position-relative">
            <div class="card-hover bg-deco-pink w-100 h-100 position-absolute top-0 start-0">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M40 0L10 6.69388L17.6562 12.5714L0 27.2653C0 27.2653 4.58333 28.6946 8.4375 31.8367C12.2917 34.9788 14.8958 40 14.8958 40L28.4375 21.2245L34.5312 29.7143L40 0Z" fill="#0000C2"/>
                    </svg>
                    <div class="fs-4 fw-medium text-deco-blue  mt-5">查看細節</div>
            </div>
            <div class="d-flex justify-content-between align-items-center border border-2 border-deco-pink">
                <div class="foodCard-title lh-xs fs-3 fw-bold px-7 text-truncate">美味達人Dolce_墨</div>
                <div class="foodCard-icon bg-deco-pink d-flex justify-content-center align-items-center">
                    <svg width="44" height="48" viewBox="0 0 50 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.7326 28.2691L5.02824 29.5269L3 21.2838L24.3599 15.5967M10.7326 28.2691L14.1689 50L30.8702 47.1245M10.7326 28.2691L26.5732 24.7764M42.4138 21.2838L47.0507 20.2614L44.9591 10.1652L24.3599 15.5967M42.4138 21.2838L47.5714 44.249L30.8702 47.1245M42.4138 21.2838L26.5732 24.7764M24.3599 15.5967L26.5732 24.7764M24.3599 15.5967C23.1556 8.82328 18.0216 1.15528 13.5215 5.30877C8.34175 10.0895 17.261 17.4867 24.3599 15.5967ZM24.3599 15.5967C23.1329 8.69547 26.4261 -0.0563268 31.5854 2.43328C37.5444 5.30876 31.1101 13.7994 24.3599 15.5967ZM26.5732 24.7764L30.8702 47.1245"
                            stroke="#0000C2" stroke-width="4" />
                    </svg>
                </div>
            </div>
            <div class="foodCard-text p-7 border border-top-0 border-2 border-deco-pink">
                <p class="multiline-ellipsis">嗨大家!今天有一大盤剛出爐的義大利麵,完全不用擔心,大家都可以來拿!🍝 食物超新鮮、好粗!我會在下午 2 點到 4 點之間待在家裡,歡迎來取!別忘了帶上你們的好心情~ 😄🌟</p>
            </div>
        </a>
    </div>

    <script type="module" src="../main.js"></script>
</body>

</html>