<!DOCTYPE html>
<html lang="zh-hant">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>有問題找 dodo</title>
</head>
<body>
    <div class="my-11">
        <!-- WE INVITE YOU 單行的 - 複製開始 -->
        <div class="marquee py-12 border-top border-bottom border-primary border-4 d-flex ">
            <p class="marquee-scroll display-1 text-primary ms-7 text-nowrap mb-0 letter-spacing-1">WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span> WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span></p>
            <p class="marquee-scroll2 display-1 text-primary ms-7 text-nowrap mb-0">WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span> WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span></p>
            <p class="marquee-scroll display-1 text-primary ms-7 text-nowrap mb-0">WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span> WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span></p>
            <p class="marquee-scroll2 display-1 text-primary ms-7 text-nowrap mb-0">WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span> WE INVITE YOU <span class="marquee-stroke ms-7">WE INVITE YOU</span></p>
        </div>
        <!-- 複製結束 -->
        <br><br><br><br>
        <!-- 三行的活動頁面用 - 複製開始 -->
        <div class="marquee">
            <div class="marquee-content">
                <embed src="../assets/images/deco/Frame when.svg" type="">
                <embed src="../assets/images/deco/Frame when.svg" type="">
                <embed src="../assets/images/deco/Frame when.svg" type="">
            </div>
        </div>
        <div class="marquee">
            <div class="marquee-content">
                <embed src="../assets/images/deco/Frame time.svg" type="">
                <embed src="../assets/images/deco/Frame time.svg" type="">
                <embed src="../assets/images/deco/Frame time.svg" type="">
            </div>
        </div>
        <div class="marquee">
            <div class="marquee-content">
                <embed src="../assets/images/deco/Frame where.svg" type="">
                <embed src="../assets/images/deco/Frame where.svg" type="">
                <embed src="../assets/images/deco/Frame where.svg" type="">
            </div>
        </div>
        <!-- 複製結束 -->
<script type="module" src="../main.js"></script>
</body>

</html>