.bg-bedge-color {
    background-color: rgba(0, 80, 63, 0.08);
}

.nofify-wrap {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
    @include media-breakpoint-up(lg) {
        overflow-x: hidden;
    }
}

.notify-rounded {
    border-radius: 8px 0 0 8px;
}