.event-agenda {
   .event-agenda-title {
    font-size: 64px;
    letter-spacing: -2.56px;
    line-height: 1;
   @include media-breakpoint-up(lg) {
     font-size: 80px;
     letter-spacing: -3.2px;
   }
 }
 .event-agenda-deco {
    @include media-breakpoint-up(lg) {
      width: 83px;
      height: 82px;
    }
 }
 .step-item:nth-child(1) {
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        top: 10px;
        right: -120px;
        content: '';
        background-image: url('/assets/images/deco/event-1-sm.svg');
        background-repeat: no-repeat;
        width: 266px;
        height: 260px;
        @include media-breakpoint-up(lg) {
        background-image: url('/assets/images/deco/event-1.svg');
        width: 310px;
        height: 410px;
        top: -58px;
        right: -88px;
        }
        @include media-breakpoint-up(xxl) {
        width: 410px;
        height: 400px;
        top: -58px;
        right: -120px;
        }
    }
 }
 .step-item:nth-child(2) {
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        top: 20px;
        left: -63px;
        content: '';
        background-image: url('/assets/images/deco/event-2-sm.svg');
        background-repeat: no-repeat;
        width: 266px;
        height: 260px;
        @include media-breakpoint-up(lg) {
        background-image: url('/assets/images/deco/event-2.svg');
        width: 365px;
        height: 410px;
        top: -100px;
        left: -154px;
    }
        @include media-breakpoint-up(xxl) {
        width: 410px;
        height: 400px;
        top: -100px;
        left: -70px;
        }
    }
 }
 .step-item:nth-child(3) {
    position: relative;
    overflow: hidden;
    &::after {
        position: absolute;
        top: -20px;
        right: -95px;
        content: '';
        background-image: url('/assets/images/deco/event-3-sm.svg');
        background-repeat: no-repeat;
        width: 266px;
        height: 260px;
        @include media-breakpoint-up(lg) {
        background-image: url('/assets/images/deco/event-3.svg');
        width: 410px;
        height: 400px;
        top: -107px;
        right: -160px;
        }
        @include media-breakpoint-up(xxl) {
        width: 410px;
        height: 400px;
        top: -107px;
        right: -95px;
        }
    }
 }
}
