.event-about {
   min-height: 887px;
   position: relative;
   overflow: hidden;
   z-index: 0;
   &::after {
    content: '';
    position: absolute;
    background-image: url('/assets/images/deco/event-path-sm.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 748px;
    height: 766px;
    bottom: -95px;
    left: 12px;
    z-index: 1;
    @include media-breakpoint-up(sm) {
        left: 24px;
    }
    @include media-breakpoint-up(lg) {
        background-image: url('/assets/images/deco/event-path.svg');
        bottom: -290px;
        left: 550px;
        width: 1412px;
        height: 1473px;
    }
    @include media-breakpoint-up(xl) {
        left: 650px;
    }
    @include media-breakpoint-up(xxl) {
        left: 750px;
    }
    @media screen and (min-width: 1500px) {
        left: 850px;
    }
    @media screen and (min-width: 1600px) {
        left: 1014px;
    }
    @media screen and (min-width: 1920px) {
        left: 1014px;
    }
}

    .event-about-title {
        font-size: 64px;
         letter-spacing: -2.56px;
        @include media-breakpoint-up(lg) {
          font-size: 80px;
          letter-spacing: -3.2px;
        }
      }

    .event-about-describe { 
        padding-top: 192px;
        z-index: 3;
        position: absolute;
        bottom: 5%;
        left: 0;
        @include media-breakpoint-up(lg) {
        padding-top: 326px;
        position:initial;
        }
    }

     .event-about-deco {
        margin-bottom: 275px;
        @include media-breakpoint-up(lg) {
            width: 139px;
            height: 120px;
        }
     }
}