.awesome {
    position: relative;
    padding-top: 193px;
    @include media-breakpoint-up(xxl) {
      padding-top: 356px;
    }

    &-content {
      position: relative;
      z-index: 3;
    }

    &-img { 
      position: absolute;
      top: -40px;
      right: 0;
      z-index: 0;
      @include media-breakpoint-up(xxl) {
        top: -120px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(5px);
        z-index: 1;
      }
      
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @include media-breakpoint-up(xxl) {
          width: 226px;
          height: 258px;
        }
      }
      img {
        width: 269px;
        height: 269px;
        object-fit: cover;
        @include media-breakpoint-up(xxl) {
          width: 728px;
          height: 654px;
        }
      }
    }

    &-title {
       font-size: 64px;
       letter-spacing: -2.56px;
      @include media-breakpoint-up(lg) {
        font-size: 80px;
        letter-spacing: -3.2px;
      }
    }

    &-deco {
      bottom: -10%;
      left: 20%;
      @include media-breakpoint-up(xl) {
        left: 0;
      }
      @include media-breakpoint-up(xxl) {
        left: -8%;
      }
      svg {
          width: 100%;
      }
    }
  
    &-card-list {
      .awesome-card-item:not(:first-child) {
        border-top: 2px solid $deco-bright-green;
        @include media-breakpoint-up(lg) {
          border-left: 2px solid $deco-bright-green;
          border-top: none;
        }
      }
      @include media-breakpoint-up(md) {
        .awesome-card-item:nth-child(2) {
          border-top: none;
          border-left: 2px solid $deco-bright-green;
        }
        .awesome-card-item:nth-child(4) {
          border-left: 2px solid $deco-bright-green;
        }
      }
    }
  }