.login {
    .login-img {
        height: 750px;
        width: 100%;
    }
    .form-control {
    &::placeholder {
        color: #909090;
    }
    }
    .form-check-input {
        height: 24px;
        width: 24px;
        --bs-form-check-bg: #ffffff;
        border: 1px solid #ECECEC;
    }
    .lh-12 {
        line-height: 1.2;
    }

    #checkEye {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }
    .login-deco-1 {
        top: -30px;
        right: -80px;
    }  
    .login-deco-2 {
        top: 130px;
        left: -120px;
    }
    .login-deco-3 {
        bottom: -70px;
        right: -75px;
    }
    .slogan {
        left: 35px;
        top: 75px;
    }
}