<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/Logo.png" />
  <title>Flavor Trail - Event</title>
</head>

<body>
  <nav aria-label="breadcrumb" class="container d-lg-block d-none nav-mt">
    <ol class="breadcrumb  pt-7 mb-0 lh-xs">
      <li class="breadcrumb-item fw-bold text-primary">
        <a href="#">活動提案</a>
      </li>
      <li class="d-flex align-items-center px-5">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 18L15 12L9 6" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </li>
      <li class="breadcrumb-item text-gray-400 active" aria-current="page">街友送餐活動</li>
    </ol>
  </nav>

  <section class="event-banner container mb-lg-12">
    <img src="/assets/images/home_event-6.jpg" alt="banner-img" class="mt-4 mt-lg-7 event-banner-cover">

    <div class="event-banner-header d-flex justify-content-between mb-lg-14 mb-10">
      <div class="event-banner-title-wrap mt-auto">
        <h2 class="mb-5 fs-lg-3 fs-4 fw-bold">餘味尋蹤</h2>
        <h3 class="event-banner-title fw-bolder">
          街友<br class="d-lg-none d-block">送餐活動
        </h3>
      </div>
      <div class="slogan mt-lg-7 mt-4 fs-2 fw-bolder lh-1">
        <p>愛心分享與</p>
        <p class="vertical-text text-lg-vertical ms-auto">你同行</p>
      </div>
    </div>

    <div class="event-banner-content d-flex justify-content-between align-items-end">
      <ul class="event-banner-intro__info fs-lg-5 fw-medium text-gray-700">
        <li class="d-flex align-items-center gap-2 mb-2">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8 2V6M16 2V6M3 10H21M8 14H8.01M12 14H12.01M16 14H16.01M8 18H8.01M12 18H12.01M16 18H16.01M5 4H19C20.1046 4 21 4.89543 21 6V20C21 21.1046 20.1046 22 19 22H5C3.89543 22 3 21.1046 3 20V6C3 4.89543 3.89543 4 5 4Z"
              stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          2024年08月11日（星期日）
        </li>
        <li class="d-flex align-items-center gap-2 mb-2">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 6V12L16 14M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          10:00 - 14:00
        </li>
        <li class="d-flex align-items-center gap-2 mb-10 mb-lg-0">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20 10C20 14.993 14.461 20.193 12.601 21.799C12.4277 21.9293 12.2168 21.9998 12 21.9998C11.7832 21.9998 11.5723 21.9293 11.399 21.799C9.539 20.193 4 14.993 4 10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
              stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          台北市中山公園
        </li>
      </ul>

      <div class="d-lg-block d-none fs-1 fw-bolder lh-xs">
        （<a href="#" class="banner-cta">
          立即報名
        </a>）
      </div>
    </div>
  </section>

  <section class="event-about bg-primary py-12 py-lg-18">
    <div class="container-lg">
      <div class="row px-sm-4">
        <h2 class="fs-4 fs-lg-3 fw-bold mb-5 mb-lg-7 text-white px-lg-0">
          ABOUT EVENT
        </h2>
        <h3 class="event-about-title fw-bolder text-white mb-5 mb-lg-7 lh-1 px-lg-0">
          關於街友送餐活動
        </h3>
        <p class="event-about-text text-primary-200 fw-medium fs-5 fs-lg-4 px-lg-0">
          是不是感覺週末空虛寂寞想找點樂子？
          <br>
          來參加我們的「愛心分享：街友送餐活動」吧！
        </p>
      </div>
      <div class="event-about-describe px-4 px-lg-0">
        <div class="row">
          <div class="col-lg-6 col-xxl-8">
            <svg class="event-about-deco mx-sm-4 mx-lg-0 mb-lg-14" width="56" height="48" viewBox="0 0 139 120"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M138.197 84.1352C135.856 68.0918 125.181 58.9666 109.516 59.1754C103.844 52.1812 96.4868 35.645 112.433 4.17628C81.6077 26.0295 51.5451 119.705 112.433 115.885C127.256 114.955 140.537 100.179 138.197 84.1352Z"
                fill="#FF814A" />
              <path
                d="M60.2012 92.345C60.259 76.1308 51.0509 65.518 35.5285 63.3934C30.9537 55.6326 27.3676 28.7477 47.7907 0C14.075 17.0245 -30.7514 114.628 30.0278 119.91C44.8245 121.196 60.1434 108.559 60.2012 92.345Z"
                fill="#FF814A" />
            </svg>
            <p class="fs-4 fs-lg-2 text-white fw-medium d-none d-lg-block">
              你不僅能為生活在街頭的朋友們提供溫暖的食物，
              <br class="d-none d-lg-block">
              還能與一群有著共同理念的新朋友們共度美好時光。
              <br>
              在這裡，每一份餐點不只是食物，更是滿載著愛心和希望。
              <br>
              讓我們攜手將這份愛傳遞給更多需要的人！
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <%- include('layout/event-marquee') %>

  <section class="event-agenda py-19">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="fs-4 fs-lg-3 fw-bold mb-5 mb-lg-7">
            EVENT AGENDA
          </h2>
          <h3 class="event-agenda-title fw-bolder mb-5 mb-lg-7 mb-18 mb-lg-0">
            活動
            <svg class="event-agenda-deco vertical-align-top" width="75" height="74" viewBox="0 0 83 82" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M34.1037 5.571C15.8294 10.7405 33.2316 35.708 33.2316 35.708C33.2316 35.708 0.983688 30.6905 5.41888 50.1313C9.85406 69.5721 37.0169 52.3001 37.0169 52.3001C37.0169 52.3001 31.4301 81.1064 51.3601 76.5014C71.29 71.8963 53.9365 45.6549 53.9365 45.6549C53.9365 45.6549 81.4746 48.867 77.6323 32.025C73.79 15.183 49.1325 32.0339 49.1325 32.0339C49.1325 32.0339 52.3779 0.401519 34.1037 5.571Z"
                stroke="black" stroke-width="10" />
            </svg>
            流程
          </h3>
        </div>
        <div class="col-lg-6 px-0 px-lg-3">
          <div class="step-list border-1 border-top border-bottom border-gray-400">
            <div class="step-item border-1 border-bottom border-gray-400">
              <div class="step-item-content w-50 ps-3 ps-lg-0 py-12">
                <div class="step-item-title fs-3 fs-lg-1 fw-bolder mb-5 mb-lg-7 lh-xs">
                  集合與準備
                </div>
                <div class="step-item-time fs-lg-5 fw-bold mb-5 mb-lg-7 lh-xs">
                  10:00
                </div>
                <div class="step-item-text">
                  活動介紹、分組及大會行前注意事項說明。
                </div>
              </div>
            </div>
            <div
              class="step-item d-flex flex-row-reverse align-items-center justify-content-between border-1 border-bottom border-gray-400">
              <div class="step-item-content w-50 pe-3 py-12">
                <div class="step-item-title fs-3 fs-lg-1 fw-bolder mb-5 mb-lg-7 lh-xs">
                  分發餐點
                </div>
                <div class="step-item-time fs-lg-5 fw-bold mb-5 mb-lg-7 lh-xs">
                  11:00
                </div>
                <div class="step-item-text">
                  由志工帶領,前往指定地點給街友送餐。
                </div>
              </div>
            </div>
            <div class="step-item d-flex align-items-center justify-content-between">
              <div class="step-item-content w-50 ps-3 ps-lg-0 py-12">
                <div class="step-item-title fs-3 fs-lg-1 fw-bolder mb-5 mb-lg-7 lh-xs">
                  愛心聚餐
                </div>
                <div class="step-item-time fs-lg-5 fw-bold mb-5 mb-lg-7 lh-xs">
                  14:00
                </div>
                <div class="step-item-text">
                  享用美味餐點,共同分享愛心經歷和心得。
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>

  <section class="event-deliver-meals bg-primary py-18 py-lg-19 position-relative mb-19">
    <div class="container">
      <div class="row flex-column flex-lg-row gap-19 align-items-center justify-content-between">
        <div class="col-lg-4">
          <img class="event-deliver-meals-img img-fluid object-fit-cover" src="../assets/images/event-1.png"
            alt="event-picture1">
        </div>
        <div class="col-lg-6">
          <img class="event-deliver-meals-img img-fluid object-fit-cover" src="../assets/images/event-2.png"
            alt="event-picture2">
        </div>
      </div>
      <h2
        class="event-deliver-meals-title col-9 col-sm-6 col-xl-12 text-lg-center text-nowrap text-white position-absolute">
        <div class="d-block d-lg-none">
          為街友<br>
          送餐，<br>
          傳遞愛心<br>
          與溫暖
        </div>
        <div class="d-none d-lg-block">
          為街友送餐，傳遞愛心與溫暖
        </div>
      </h2>
    </div>
  </section>

  <%- include('layout/footer') %>
  <%- include('./layout/header'); %>
  <%- include('./layout/rectangle-CTA', {currentCtaRectangleTitle: '立即報名', page: 'event'}) %>
  <%- include('layout/circle-CTA', {currentCtaTitle: '立即報名'}) %>

  <script type="module" src="../main.js"></script>
</body>

</html>